<div class="container mx-auto">
    <div class="grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-3">
        <div *ngFor="let education of educations" >
            <div
                class="block rounded-lg bg-gray-500 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 educationCard h-64" data-tilt>
                <div
                    class="relative flex items-center justify-center overflow-hidden bg-cover bg-no-repeat"
                    data-te-ripple-init
                    data-te-ripple-color="light">
                    <img
                    class="rounded-lg h-[100px] mt-1 "
                    src="{{ education.image }}"
                    alt="{{ education.institution }}" />
                    <a href="{{ education.link }}">
                    <div
                        class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-[hsla(0,0%,98%,0.15)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"></div>
                    </a>
                </div>
                <div class="p-6 flex flex-col justify-between">
                    <h5
                    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50 lg:h-auto md:h-12 sm:h-12">
                    {{ education.title }}
                    </h5>
                    <div>
                        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200" >
                                           {{ education.institution }}
                        </p>
                        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
                            Finish: {{ education.finished.getMonth() + 1 }}/{{ education.finished.getFullYear() }}
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>


