#motion {
  animation-name: upDown;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes upDown {
  0% {transform: translateY(0);}
  50% {transform: translateY(24px);}
  100% {transform: translateY(0);}
}