
    <div class="relative h-[95vh] flex md:items-center justify-center sm:items-start pt-48 md:pt-0">
        <canvas class="background absolute inset-0"></canvas>
        <div class="z-10 h-12 w-3/5 relative flex items-center justify-between md:flex-row flex-col lg:px-36 md:px-0">
          <div class="text-5xl ">
            <span class="bg-clip-text font-sans font-extrabold text-transparent bg-gradient-to-r from-white to-slate-400">
              Sebastian Klein
            </span>
          </div>
      
          <div class="">
            <img class="h-48 w-full object-cover rounded-full" src="assets/images/photo.jpg" alt="Me">
          </div>
        </div>
      </div>
      <div class="absolute xs:bottom-10 bottom-32 w-full flex justify-center items-center">
        <a (click)="scrollTo('description')">
          <div class="w-[35px] h-[64px] rounded-3xl border-4 border-white flex justify-center items-start p-2">
            <div id="motion" class="w-4 h-3 rounded-full bg-white mb-1"></div>


          </div>
        </a>
      </div>
      
      