<div class="bg-slate-400 opacity-50 md:my-10 my-3 container mx-auto rounded-lg">
    <div class="opacity-100 p-5">
        <h1 class="font-extrabold">Thanks for visiting my Homepage!</h1>
        <p>Hi my name is Sebastian Klein and I am a Full-Stack Web-Developer. I really like to design beautiful and interactive websites where the user wants to stay and play around with the elements. </p>
        <p>You can try it yourself and click and drag on all of the elements. Most of the time something will happen 😜 </p>
    </div>
</div>
